body {
    background: #222;
    color: #fff;
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 24px 0 8px 0;
    font-weight: 400;
    letter-spacing: 2px;
}

#pong {
    background: #111;
    display: block;
    margin: 0 auto 30px auto;
    box-shadow: 0 0 14px #000;
    border: 2px solid #fff;
}